      </div>
      <hr/>
      <div class="footer">
        <p class="text-center">
          <small>Powered by <a href="https://github.com/clarus/kalach-blog">Kalach Blog</a>.</small>
        </p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
  </body>
</html>
