      </div>
      <hr style="margin-top: 60px"/>
      <div class="footer" style="margin-bottom: 100px; margin-top: 40px">
        <p class="text-center">
          <small><a href="rss.xml">RSS feed</a></small>
        </p>
        <p class="text-center">
          <small>Sources are on <a href="https://github.com/clarus/coq-blog">GitHub</a>. © Guillaume Claret</small>
        </p>
      </div>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45170128-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-45170128-4');
    </script>
  </body>
</html>
